<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>SQL管理</title>
    <link rel="shortcut icon" href="/images/fav.jpg" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <style>
        .databox {
            display: inline-block;
            color: #333333;
            margin: 10px;
            border-radius: 15px;
            border: 1px solid #dddddd;
            background: #ffffff;
            padding: 10px;
            font-size: 10pt;
        }
    </style>
    </style>
</head>

<body>
    <div class="top">
        <a href="/"><img src="/images/logo.png" style="height:50px;" /></a>
    </div>
    <div style="float:right;margin-top:20px;">
        <a href="/run">运行SQL</a>&nbsp;
        <a href="/run/?runcomm=create_database">新建数据库</a>&nbsp;
        <a href="/exit">退出</a>&nbsp;
    </div>
    <div style="clear:both;padding-top:5px;margin-bottom:5px;">
    <a href="/">首页</a> -> 数据库列表
    </div>

    <div
        style="margin:0 auto;background:#effecf;border:1px solid #dddddd;max-width:350px;display:block;border-radius: 15px;padding:10px;line-height:2;">
    {{.datalist}}
    </div>
    <br />
    <div style="font-size:11pt;color:#666666;">wuknet.net<br />悟空网络</div><br /><br />
</body>

</html>