<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>SQL管理</title>
    <link rel="shortcut icon" href="/images/fav.jpg" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <style>
        .tablelist {
            margin:5px;
            display: inline-block;
            width:100%;
            color: #333333;
            border: 1px solid #dddddd;
            background: #ffffff;
            font-size: 11pt;
            border-collapse:collapse;
        }
        .tablelist td {
            padding:10px;
        }
    </style>
    </style>
</head>

<body>
    <div class="top">
        <a href="/"><img src="/images/logo.png" style="height:50px;" /></a>
    </div>
    <div style="float:right;margin-top:20px;">
        <a href="/run/?database_name={{.database_name}}">运行SQL</a>&nbsp;
        <a href="/run/?database_name={{.database_name}}&runcomm=delete_database">删除库</a>&nbsp;
        <a href="/run/?database_name={{.database_name}}&runcomm=create_table">新建表</a>&nbsp;
        <a href="/exit">退出</a>&nbsp;
    </div>
    <div style="clear:both;padding-top:5px;margin-bottom:5px;">
    <a href="/">首页</a> -> <a href="/datalist">数据库</a> -> {{.database_name}}(库) -> 所有表({{.tableNum}})
    </div>

    <div>
        大小：{{.database_size}}
    </div>
    <div>
    {{.tablelist}}
    </div>
    <br />
    <div style="font-size:11pt;color:#666666;">wuknet.net<br />悟空网络</div><br /><br />
</body>

</html>